body {background-color: #98FB98}
a {color:#00008B; font-weight: bold; }
a:hover {color:#FFFF00; font-weight: bold; text-decoration:none}
h1 {color: #EEE8AA; font-size:18px}
h2 {color: #2F4F4F; font-size:16px}
p {color: #DC143C; font-size:20px; text-align: right}